* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
scroll-snap-type: y mandatory;

}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

html{
    scroll-behavior: smooth;
  }



#root section {
    scroll-snap-align: start;
}

/*---------------------------progress bar --------------------------------------*/

.loader {
    position: fixed;
    z-index: 100;
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    animation: load-out 0.2s 6s;
    animation-fill-mode: forwards;
}

@keyframes load-out {
    from {
        left: 5%;
        width: 90%;
        opacity: 1;
    }

    to {
        left: 50%;
        width: 0%;
        opacity: 0;     
    }
}
@keyframes load-out {
    from {
        right: 5%;
        width: 90%;
        opacity: 1;
    }

    to {
        right: 50%;
        width: 0%;
        opacity: 0;
        
    }
}

.loader img {
    display: flex;
    width: 500px;
}


.progress {
    position: relative;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: flex-start;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    height: 40px;
    width: 500px;
}

.progress-value {
    animation: load 6s normal forwards;
    border-radius: 10px;
    background: rgba(255, 255, 255);
    height: 30px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% {width: 100%; }
}

/*---------------------------idáig tart a CSS reset-------------------------------*/

#container1 {
    width: 100%;
    height: 100vh;
    background-image: url("biggie.jpg");
    background-size: cover;
    display:grid;
    grid-template: "nav nav" 
                   "main main";
    grid-template-rows: 13% 87%;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    scroll-snap-align: start
}

/*---------------------------idáig tart a container1-------------------------------*/

nav {
    margin-top: 100px;
    width:80.3%;
    height: 100%;
    grid-area: nav;
    display:flex;
    justify-content: end;
    font-size: 15px;
    color: white;
    align-items: center;
}

nav a {
    padding: 0px 10px;
    text-decoration: underline;
}

nav button {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 10px;
}

.button1 {
    border-left:solid 3px rgb(5, 177, 177);
}

.button1:hover {
    text-decoration: underline;
}

.button2:hover {
    text-decoration: underline;
}

/*---------------------------idáig tart a navigáció-------------------------------*/

#main {
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    flex-direction: row;
    display:flex;
    position: relative;
    grid-area: main;
    justify-content: row;
}

/*--Imgp--*/

.imgp {
    width:65%;
    height: 100%;
}

.imgp img {
    width: 50%;
    height: auto;
    margin-left: 24%; 
}

.imgp p {
    width: 70%;
    height: auto;
    color: white;
    font-size: 20px;
    margin-left: 28%;
    line-height: 30px;
}

.p2 {
    padding-top: 3%;
}

/*--Arrow--*/

.aniarrow {
   justify-content: center;
   align-items: baseline;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1.5s infinite ease-in-out;
    bottom: 0%;
    display: block;
    height: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: fixed;
    z-index: 1;
}

/*--Form--*/

.form {
    width:50%;
    height:100%;
}

form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    border: 1px solid black;
    font-family: "Times New Roman" sans-serif;
    color: #2c3e50;
}
  
.form input {
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 20px;
    font-family: "Arial, Helvetica", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #2c3e50;
    border-bottom: #dce4ec 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


.form h3 {
    text-align: center;
    background-color: #2c3e50;
    display: inline;
    margin: 0;
    padding: 10px 10px;
    color: white;
}

.form h4 {
    background-color: #FFFFFF;
    color: #08e2cc;
    padding: 0 0 0 10px;
    font-weight: bold;
    border-top: 0;
}

.form label {
    background-color: #FFFFFF;
    font-size: 14px;
    color: grey;
    font-weight: 300;
    display: inline-block;
    padding:5px;
}

.form button {
    /* display: flex;
    justify-content: center; */
    position: relative;
    background-color: #08e2cc;
    color: #FFFFFF;
    padding: 10px;
}

.form button:hover{
    background-color: #2c3e50;
}


/* form */

#exclusion {
    height: 100vh;   
    width: 100%;
    margin: 0 auto;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    background-image: url(https://cdn.discordapp.com/attachments/944139864511762503/945622932250570783/exclusion.jpg);
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
}


.top-elements {
    padding: 5px 10px;
}

.top-elements h4 {
    display: inline-block;   
    margin-left: 12%;
    width: 10%;
    text-align: left;
    line-height: 1.3;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.7em; 
}

.top-elements h1 {
    display: inline-block;
    position: relative;
    left: 64%;
    padding-top: 7px;
    vertical-align: 100%;
    font-size: 30px;
    font-weight: 100;
}

.floater h1 { 
    display: block;
    width: 30%;
    margin-top: 10%;
    margin-left: 12%;
    line-height: 0.9;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100px;
    letter-spacing: 0.1em;
/*     animation: slideInFromBottom 5s;
 */}


    @keyframes slideInFromBottom {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0%);
          opacity: 1;
        }
      }

.floater p {
    display: block;
    width: 16%;
    margin-top: 10px;
    margin-left: 12%;
    line-height: 1.3;
    text-align: left;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 23px;
/*     animation-duration: 1s;
    animation-name: slidein; */
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
      
    }
  
    to {
        transform: translateY(0);
    }
  }

footer{
    display: flex;
    flex-direction: row;
}

footer #report {
    flex: 1;
    max-width: 70%;
    margin-top: 14%;
    margin-left: 12%;
    font-size: 14px;
    font-weight: 100;
}

footer .socials {
    flex: 1;
    margin-top: 14%;
    margin-left: 50%;
    font-size: 14px;
    font-weight: 100;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}